@font-face {
  font-family: SoloistOutline;
  src: url('../fonts/soloistoutline-v6lw-webfont.woff');
}

.body {
  background-color: rgba(3, 18, 29, 1);
}

.hero {
  background-image: url('../images/xwing_dogfight.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.082);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  font-family: SoloistOutline, sans-serif;
}

.column-two-third {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.icon-container {
  text-align: right;
  padding-right: 2rem;
  position: sticky;
  top: 2rem;
  color: rgba(227, 205, 0, 1);
}
