@font-face {
  font-family: SoloistOutline;
  src: url('../fonts/soloistoutline-v6lw-webfont.woff');
}

@font-face {
  font-family: SFDistantGalaxy;
  src: url('../fonts/sfdistantgalaxy-0l3d-webfont.woff');
}

.hero {
  background-image: url('../images/xwing_dogfight_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.082);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  font-family: SoloistOutline, sans-serif;
}

.column-two-third {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.icon-container {
  text-align: right;
  padding-right: 2rem;
  position: sticky;
  top: 2rem;
  color: rgba(227, 205, 0, 1);
}

.ship-list {
  background-color: rgba(3, 18, 29, 1);
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  padding-top: 2rem;
  height: 50vh;
}

h2 {
  font-family: SFDistantGalaxy, sans-serif;
  letter-spacing: 1rem;
  color: rgba(227, 205, 0, 1);
}

.column-third {
  max-width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.fa-circle-chevron-right {
  padding-top: 9rem;
  color: rgba(0, 71, 122, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
