@font-face {
  font-family: SoloistOutline;
  src: url('../fonts/soloistoutline-v6lw-webfont.woff');
}

@font-face {
  font-family: SFDistantGalaxy;
  src: url('../fonts/sfdistantgalaxy-0l3d-webfont.woff');
}

.hero {
  background-image: url('../images/xwing_dogfight_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.082);
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  font-family: SoloistOutline, sans-serif;
  text-align: center;
}

.column-title {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.icon-container {
  text-align: right;
  padding-right: 2rem;
  position: sticky;
  top: 2rem;
  color: rgba(227, 205, 0, 1);
}

.ship-list {
  background-color: rgba(3, 18, 29, 1);
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  padding-top: 2rem;
  height: 50vh;
}

h2 {
  font-family: SFDistantGalaxy, sans-serif;
  letter-spacing: 1rem;
  color: rgba(227, 205, 0, 1);
  text-align: center;
}

.column-half {
  max-width: 50%;
  box-sizing: content-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.ship-name {
  color: rgba(255, 255, 255, 1);
}

.ship-data {
  font-family: SFDistantGalaxy, sans-serif;
  font-size: medium;
  color: rgba(118, 114, 114, 1);
}

.show-clicked {
  color: rgba(227, 205, 0, 1);
}
